*.pyc
*.pyo

*.log

__pycache__/

*utils/ai_f3th.py

env/
.idea/


# Sphinx documentation
**/_build/


# MacOS files
.DS_Store

# Auth service binaries
auth-service/auth-service

# Realtime server environment file
.realtime-server/.env

# Node.js dependencies
node_modules/

# Environment file for Node.js
.env

# Realtime server logs
/realtime-server/logs