::-webkit-scrollbar {
    width: 5px;
    height: 12px;
    position: absolute;
}

::-webkit-scrollbar-track {
    background: #ffffff00;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 10px;
    border: 0px solid #f0f0f0;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #555;
}

/* ----------------------------navbar */
.navbar-deactive {
    padding: 0 0 5px 0;
    border-bottom: 2px solid rgb(255, 255, 255);
}

.navbar-active {
    transition: 0.1s ease-in;
    /* background-color: red; */
    /* padding: 3px 6px; */
    /* border-radius: 5px; */
    padding: 0 0 5px 0;
    border-bottom: 2px solid rgb(81, 81, 81);
}

.dropdown-navbar-menu {
    margin-right: 20px;
    text-align: center;
}

/* -------------------project list */
.project-list-header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 2%;

}

.project-list-header>h1 {
    padding: 0;
    margin: 0;
    font-size: 1.5em;
    font-weight: 700;
}

.project-list-searchbar {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 10px 10px 20px 10px;
    position: relative;

    /* background-color: red; */
}

.project-list-sortbutton {
    color: #888;
    position: absolute;
    bottom: 0px;
    right: 20px;
    background-color: transparent;
    font-size: 0.8em;

}

.project-list-container {
    /* background-color: aqua; */
    height: 100%;
}

.project-list-menu-item {
    margin: 10px;
    height: fit-content;
    max-height: 100px;
    padding: 0px;
    border: 1px solid rgb(156, 156, 156);
    padding: 10px;
    border-radius: 10px;
    position: relative;
    display: flex;
    justify-content: start;
    flex-direction: column;
    align-items: start;
}

.project-list-menu-item-header {
    display: flex;
    justify-content: space-between;
    flex-direction: row;
    align-items: center;
    width: 100%;
}

.project-list-menu-item-header>p {
    color: #888;
    font-size: 0.9em;
}

.project-list-menu-item-header>h1 {
    font-weight: 500;
    font-size: 1.2em;
}

.project-list-menu-item-description {
    font-weight: 400;
    font-size: 1.1em;
}

.project-list-menu-item-members {
    display: flex;
    flex-direction: row;
    align-items: center;
    color: #888;
}

.project-element-readme-container {
    padding: 15px 0 0 0;
    height: 100vh;
}

.project-element-readme-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
    position: relative;
    padding: 0 15px;
}

.project-element-readme-header>div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.project-element-readme-date {
    position: absolute;
    top: 0;
    right: 15px;
    font-size: 0.9em;
}

.project-element-readme-box {
    border-radius: 10px;
    border: 1px solid rgb(177, 177, 177);
    padding: 20px;
    margin: 15px;

}

.box-name {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row;
}

.box-name>h2 {
    font-size: 2em;
    text-transform: uppercase;
    font-weight: 700;
    text-align: center;
    width: 80%;
}

.box-name>img {
    width: 200px;
    height: 200px;
    border-radius: 30px;
}

.box-description>div>p {
    text-align: center;
}

.project-element-readme-box-image-container {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
}

.project-element-readme-box-image-container>p {
    width: 60%;
    text-align: center;
    padding: 20px;
}

.project-element-readme-box-image-container>img {
    width: 35%;
    border-radius: 10px;
    box-shadow: 0px 0px 5px 1px rgb(198, 198, 198);

}

/* --------------------- */
.messageBox {
    width: 100%;
    height: 100px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0px 10px 0px 0px;
    /* border-radius: 10px; */
    border-top: 1px solid rgb(63, 63, 63);
    /* border: 1px solid rgba(63, 63, 63, 0); */
    transition: 0.2s ease-in-out;
    position: relative;
}

.messageBox:focus-within {
    border: 1px solid rgb(110, 110, 110);
}

.fileUploadWrapper {
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 0;
    left: 0px;
}

.fileUploadWrapper>select {
    background-color: transparent;
}

#file {
    display: none;
}

.fileUploadWrapper label {
    cursor: pointer;
    width: fit-content;
    height: fit-content;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
}

.fileUploadWrapper label svg {
    height: 18px;
}

.fileUploadWrapper label svg path {
    transition: all 0.3s;
}

.fileUploadWrapper label svg circle {
    transition: all 0.3s;
}

.fileUploadWrapper label:hover svg path {
    stroke: #fff;
}

.fileUploadWrapper label:hover svg circle {
    stroke: #fff;
    fill: #3c3c3c;
}

#messageInput {
    width: 80%;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    text-wrap: wrap;
    resize: none;
    /* overflow-y: hidden; */
    /* padding-left: 10px; */
    color: rgb(0, 0, 0);
    text-align: left;
    padding: 10px;
    box-sizing: border-box;
}

.custom-textarea::placeholder {
    text-align: left;
    color: #aaa;
}

#messageInput:focus~#sendButton svg path,
#messageInput:valid~#sendButton svg path {
    fill: #3c3c3c;
    stroke: white;
}

#sendButton {
    width: fit-content;
    height: 100%;
    background-color: transparent;
    outline: none;
    border: none;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transition: all 0.3s;
}

#sendButton svg {
    height: 18px;
    transition: all 0.3s;
}

#sendButton svg path {
    transition: all 0.3s;
}

#sendButton:hover svg path {
    fill: #3c3c3c;
    stroke: white;
}